<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maid.csp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.PlanningActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.PlanningEditorActivity"
            android:label="@string/title_activity_planning_editor"
            android:parentActivityName=".Activity.PlanningActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maid.csp.Activity.PlanningActivity" />
        </activity>
        <activity
            android:name=".Activity.SportActivity"
            android:label="@string/title_activity_sport"
            android:parentActivityName=".Activity.PlanningActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maid.csp.Activity.PlanningActivity" />
        </activity>
        <activity
            android:name=".Activity.SportEditorActivity"
            android:label="@string/title_activity_sport_editor"
            android:parentActivityName=".Activity.SportActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maid.csp.Activity.SportActivity" />
        </activity>
        <activity
            android:name=".Activity.ChildActivity"
            android:label="@string/title_activity_child"
            android:parentActivityName=".Activity.PlanningActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maid.csp.Activity.PlanningActivity" />
        </activity>
        <activity
            android:name=".Activity.ChildEditorActivity"
            android:label="@string/title_activity_child_editor"
            android:parentActivityName=".Activity.ChildActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maid.csp.Activity.ChildActivity" />
        </activity>
    </application>

</manifest>
